---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Books & Scones | Lukas Downes">
  <main>
    <section id="contact">
      <h1>Books &amp; Scones</h1>
      <img src="/scones-and-books/book.svg" alt="book with title 'Books & Scones'" width="90%" />
      <p>with Xante, Lukas, Marion, Stef, Chadia</p>
    </section>
    <section id="projects"></section>
    <section id="design"></section>
  </main>
  <footer>
    <p>by <span class="red">Lukas Downes</span>, 2024</p>
  </footer>
</Layout>
